<div class="flex justify-center items-center min-h-screen p-4">
  <div class="w-full max-w-md bg-white rounded-lg shadow-md p-6">
    <h2 class="text-2xl font-bold text-gray-900 mb-6 text-center">Add Student</h2>

    <form id="studentForm"> 
      <div class="mb-4">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Full Name</label>
        <input [(ngModel)]="student.name"   type="text" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Enter full name" required>
      </div>

      <div class="mb-4">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email Address</label>
        <input [(ngModel)]="student.email" type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="name@example.com" required>
      </div>

      <div class="mb-4">
        <label for="gender" class="block mb-2 text-sm font-medium text-gray-900">Gender</label>  
        <input [(ngModel)]="student.Gender"type="text" id="gender" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Enter gender">
      </div>

      <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center"(click)="addStudent()">Add Student</button>
    </form>
  </div>
</div>